/* CSS BY Gwynn Spragg */
/* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root{
    --midnight-blue:  #1F2A44;
    --olive-green:    #76885B;
    --champagne-gold: #E5C185;
    --linen:          #F8F4EC;
    --dark-charcoal:  #2B2B2B;
    --soft-white:     #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
    @media screen and (min-width: 0em) {
        *{
            font-family: playfair Display;
            color: var(--dark-charcoal);
            text-decoration: none;
        }

         h1, h2, h3, p, figcaption, a{
            font-family: playfair display;
        } 

        h1{
            font-size:2.8rem;
            font-weight: 600;
            margin: 10px 0;
        }

        h2{
            color: var(--midnight-blue);
            font-size: 1.3rem;
            font-weight: 500;
            margin: 20px 10px 10px;
            
        }

        h3{
            color: var(--soft-white);
            font-weight: bolder;
            padding-bottom: 5px;
        }

        #champagne_gold_text{
            color: var(--champagne-gold);
        }

        main{
            background-color: var(--champagne-gold);
        }

        section{
            background-color: var(--linen);
            padding: 10px;
            margin-top: 2px;
        }

        div p{
            color: var(--soft-white);
        }

        div{
            background-color: var(--olive-green);  
            border-radius: .5em;
            padding: 15px; 
            margin: 5px;
        }

        /* header */
        header{
            background-color: var(--midnight-blue);
            text-align: center;
        }

        header img{
            max-width: 13em;
            max-height: 16em;
        }

        header h1, header figcaption{
            color: var(--soft-white);
            background-color: var(--midnight-blue);
            padding-bottom: 10px;
        }
        
        figcaption{
            margin-bottom: 10px;
            font-size: x-small;
        }

        header nav{
            background-color: var(--champagne-gold);
            color: var(--midnight-blue);
            font-size: 15px;
            font-weight: 800;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        nav a{
            margin: 12px;
        }

        /* main */

            /* about us*/
            #about_us p{
                text-align: left;
                margin: 10px;
                font-size: 15px;
                
            }
            /* offerings */

            /* Gallery */
            #gallery{
                border-bottom: 2px solid var(--champagne-gold);
                margin-bottom: 18px;  
                padding-bottom: 3px;
                display: grid;
            }

            #image_card{
                background-color: var(--soft-white);
                border-radius: 0.5em;
                box-shadow: 1px 3px 5px var(--dark-charcoal);
                justify-content: center;
                padding: 0 0 5px 0;
                margin: 1em 1em 0 1em;
                text-align: center;
                font-style: italic;
            }

            img{
                border-radius: .5em .5em 0 0;
                padding: 0;
                margin-bottom: 5px;
                width: 100%;
            }

            #gallery figcaption{
                margin-bottom: 3px;
            }

            #gallery a{
                background-color: var(--olive-green);
                color: var(--soft-white);
                border-radius: 5px;
                text-align: center;
                align-items: center;
                padding: 10px;
                margin: 10px 10px;
                font-size: small;
                font-weight: 300;
            }

        /* footer */
        footer{
            background-color: var(--midnight-blue);
            padding: 30px 10px 15px 10px;
            margin-top: 2px;
            text-align: center;
            font-size: x-small;
        }

        address{
            padding: 1px;
            margin-bottom: 30px;

            display: grid;  
            grid-template-rows: 3(1fr);
            row-gap: 5px;
        }

        address a{
            color: var(--soft-white);
            padding-bottom: 0;
        }
        footer nav{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 3px;
            width: 1/3;
            justify-self: center;

        }
        footer nav a{
          margin: 0px;
        
        }
  
    }

/* MEDIA QUERY (medium) */
    @media screen and (min-width: 48em) {
        
    }
    
/* MEDIA QUERY (large) */
    @media screen and (min-width: 64em) {
        
    }

/* MEDIA QUERY (xl) */
    @media screen and (min-width: 1300px) {
        
    }